<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chicle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Sucré Menu</title>
</head>

<body>
    <header>
      <%- include('../partials/nav.ejs') %>
        <h1 id="medit">Edit <%= menu.name %></h1>
    </header>
            <form action="/menu/<%= menu._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= menu.name %>" /><br />
            <input type="submit" value="Update Item" />
        </form>
        <%- include('../partials/footer.ejs') %>
</body>

</html>