<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chicle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Sucré Blog</title>
</head>

<body>
    <header>
      <%- include('../partials/nav.ejs') %>
      <h1 id="blogindex">the SUCRÉ blog</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="navbar-nav" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="navbar-nav" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/blog/new">ADD A BLOG</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>  
      <div id="blogind">
      <div class="bi_image">
        <img id="imageb" src="https://imgur.com/Zv34ON9l.jpg" alt="">
      </div> 
      <div class="blogtext">
        <p id="blogp">Welcome to our blog!  We will in general overlook that satisfaction doesn't originate from something we don't have, yet rather of perceiving and acknowledging what we do… Satisfaction is fellowship… Joy is festivity. It's tied in with acquiring bliss and praising life.
          Spreading bliss and commending each snapshot of life is the mantra at Sucré. Sucré started their endeavor with Handmade Chocolates and gradually moved into Cakes, Pastries, and unified items.
          Everything started with taking up little gathering requests. With the progression of time, we moved to counters in markets and now have 50 outlets in the city of Atlanta. Sucré develops with each passing day and connecting with individuals and adding to mind-blowing festivals.        
          In 2015 Sucré wandered into advancement and innovativeness and presented productive Birthday Cakes, Customized Wedding Cakes, and Theme Cakes according to events. Sucré expects to be the main Cake Store regarding quality, benefit, esteem for cash, and consumer loyalty.
        </p>
      </div>
      </div>
      <ul>
        <% blogs.forEach(blog => { %> 
            <li>  <h4 class="card-title"> <a href="/blog/<%=blog._id%>"><%= blog.title %></a></h4>
               <%= blog.createdAt.toLocaleDateString() %>
            </li>
        <% }) %> 
      </ul> 
      </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>